.services_top-content {
  text-align: center;
  margin-bottom: 50px;
}

.services_top-content h6 {
  margin-top: 10px;
}

.service__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
  margin-bottom: 50px;
}

.services__item {
  background: var(--card-bg);
  width: 25%;
  padding: 30px 15px;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.service__icon {
  width: 50px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: var(--icon-bg);
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid #151e4f;
}

.service__icon i {
  font-size: 2rem;
  color: #379cf6;
}

.service__title {
  color: #379cf6;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.description {
  color: #ffff;
}
